@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin title {
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
}

@mixin respond-to($breakpoint) {
    @if $breakpoint ==laptop {
      @media (min-width: 1021px) and (max-width: 1500px) {
        @content;
      }
    }
  
    @else if $breakpoint ==tablet {
      @media (min-width: 500px) and (max-width: 1020px) {
        @content;
      }
    }

    @else if $breakpoint ==mobile {
      @media (max-width: 499px) {
        @content;
      }
    }
    
  }
