$font-family: "Montserrat", sans-serif;
$second-family: "Mulish", sans-serif;
$third-family: "Montserrat SemiBold", sans-serif;

$bg-color: #131313;
$light: #FFFFFF;
$dark-text: #171717;
$gray-text: #666666;
$accent: #C2AB81;

